[project]
	description = my vimrc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sten Liao (stenliao)
[access "refs/for/refs/*"]
	read = group user/Sten Liao (stenliao)
	push = group user/Sten Liao (stenliao)
	label-Code-Review = -2..+2 group user/Sten Liao (stenliao)
	label-Verified = -1..+1 group user/Sten Liao (stenliao)
	rebase = group user/Sten Liao (stenliao)
	removeReviewer = group user/Sten Liao (stenliao)
	submit = group user/Sten Liao (stenliao)
[access "refs/heads/*"]
	read = group user/Sten Liao (stenliao)
	create = group user/Sten Liao (stenliao)
	push = +force group user/Sten Liao (stenliao)
	pushMerge = group user/Sten Liao (stenliao)
[access "refs/tags/*"]
	push = group user/Sten Liao (stenliao)
	push = +force group user/Sten Liao (stenliao)
